asgiref==3.8.1
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.1
cryptography==44.0.0
Django==5.1.4
django-credit-cards==0.4.1
geographiclib==2.0
geopy==2.4.1
googlemaps==4.10.0
idna==3.10
joblib==1.4.2
mysqlclient==2.2.6
numpy==2.2.2
pillow==11.0.0
pycparser==2.22
requests==2.32.3
scikit-learn==1.6.1
scipy==1.15.1
sqlparse==0.5.3
threadpoolctl==3.5.0
tzdata==2024.2
urllib3==2.3.0
