{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<style>
    .single-explore-img img:not(:first-child) {
        display: none;
    }
</style>
<section id="explore" class="explore">
    <div class="container">
        <div class="section-header">
            <h2>  الاعلانات المفضلة</h2>
        </div>
        <div class="explore-content">
            <div class="row">
                {% for Advertisement in favorites %}
                <div class="col-md-4 col-sm-6">
                    <div class="single-explore-item">
                        <div class="single-explore-img">
                            {% if Advertisement.RealEstate_id.images.exists %}
							{% for image in Advertisement.RealEstate_id.images.all %}
								{% if image.photo %}
									<img src="{{ image.photo.url }}" alt="Real Estate Image" style="width: 400px; height: 200px; object-fit: cover;">
								{% else %}
									<p>No image available</p>
								{% endif %}
							{% endfor %}
						{% else %}
							<p>No images available for this advertisement.</p>
						{% endif %}      
                            <div class="single-explore-img-info">
										<button>{{ ad_with_rating.advertisement.area_id }}</button>
                                <div class="single-explore-image-icon-box">
                                    <ul>
                                        <li>
                                            <div class="single-explore-image-icon">
                                                <i class="fa fa-arrows-alt"></i>
                                            </div>
                                        </li>
                                    
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="single-explore-txt bg-theme-1">
                            <h2><a href="{% url 'see_ads_details' ads_id=Advertisement.ID %}">اضغط هنا لرؤية المزيد من التفاصيل</a></h2>
                            <p class="explore-rating-price">
                                التقييم
                                <span class="explore-rating">5.0</span>
                                <span class="explore-price-box">
                                    السعر
                                    <span class="explore-price">{{ Advertisement.RealEstate_id.price }}</span>
                                </span>
                                <a> نوع العقار: {{ Advertisement.RealEstate_id.type_id }}</a>
                                <a>تاريخ نشر الاعلان : {{ Advertisement.publish_date }}</a>
                            </p>
                            <div class="explore-person">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <div class="explore-person-img">
                                            <i class="flaticon-lightbulb-idea"></i>
                                        </div>
                                    </div>
                                    <div class="col-sm-10">
                                        <p class="text-truncate">{{ Advertisement.details }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="explore-open-close-part">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <button class="close-btn">{{ Advertisement.advertising_state|yesno:"مفعل,ملغي" }}</button>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="explore-map-icon">
                                            <a href="#"><i data-feather="map-pin"></i></a>
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
            <div class="text-center">
                <div class="pagination">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?page=1">&laquo; الأول</a>
                            <a href="?page={{ page_obj.previous_page_number }}">الصفحة السابقة</a>
                        {% endif %}

                        <span class="current">
                            الصفحة {{ page_obj.number }} من {{ page_obj.paginator.num_pages }}.
                        </span>

                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">الصفحة التالية</a>
                            <a href="?page={{ page_obj.paginator.num_pages }}">الأخير &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        
    </div>
</section>
{% endblock %}